body {
  background-color: #74cafa;
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.5);
  border-radius: 4px;
}

#message-form .btn-primary {
  min-width: 150px;
}
